node_modules/
dist/
.npm-cache/

admin/node_modules/
admin/uploads/**
!admin/uploads/
!admin/uploads/banners/
!admin/uploads/box-banners/
!admin/uploads/headers/
!admin/uploads/products/

admin/.env
.env

node
npm
lg-uae-home-clone@1.0.0

.DS_Store
Thumbs.db

.vscode/
admin/uploads.zip